
.icon{
    margin-top: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }
 .navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #ffffff;
}